// Helpers
@import "./helpers/variables";
@import "./helpers/mixins";

html,
body {
  margin: 0;
  padding: 0;
  font-family: $sansFont;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.home {
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media screen and (min-width: $tabletWidth) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .title {
    font-size: 3rem;
    font-family: $monoFont;
    color: black;
    @media screen and (min-width: $tabletWidth) {
      font-size: 5rem;
    }
  }
  .features {
    display: grid;
    place-items: center;
    gap: 2rem;
  }
  .uploadForm {
    display: grid;
    place-items: center;
    gap: 1rem;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
    @media screen and (min-width: $tabletWidth) {
      padding: 6rem 4rem;
    }
    &__error {
      color: black;
      font-weight: bold;
      background-color: lightcoral;
      border-radius: 20px;
      padding: 1rem;
      margin: 1rem 0;
    }
    .uploadLabel {
      font-family: $monoFont;
      font-size: 1.2rem;
      @media screen and (min-width: $tabletWidth) {
        font-size: 1.5rem;
      }
    }
    .fileInput {
      font-family: $sansFont;
      background-color: white;
      border-radius: 0 20px 20px 0;
    }
    .submitBtn {
      font-size: 0.875rem;
      border: none;
      border-radius: 20px;
      padding: 0 1rem;
      min-width: 88px;
      height: 32px;
      font-family: $sansFont;
      font-weight: bold;
      background-color: aquamarine;
      cursor: pointer;
      &:focus {
        outline: none;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
          0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042),
          0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
        transform: scale(0.9);
      }
    }
  }
  .getForm {
    @extend .uploadForm;
    &__error {
      color: black;
      font-weight: bold;
      background-color: lightcoral;
      border-radius: 20px;
      padding: 1rem;
      margin: 1rem 0;
    }
    .getLabel {
      font-family: $monoFont;
      font-size: 1.2rem;
      @media screen and (min-width: $tabletWidth) {
        font-size: 1.5rem;
      }
    }
    .filenameInput {
      border-radius: 20px;
      border: 1px solid grey;
      padding: 0.5rem 1rem;
      &:focus {
        outline: none;
      }
    }
  }
}
